<div class = "search mb-5">
  <%= search_form_for @q, class: "d-flex" do |f| %>
    <%= f.search_field :title_or_ingredients_product_name_cont, placeholder: "Search for recipes...", class: "form-control me-3", style: "width:300px" %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>