<div class="d-flex justify-content-between mb-5">
  <h1>Recipes</h1>
  <div class="d-flex align-items-center">
    <%= button_to "New recipe", new_recipe_path, method: :get, class: "btn btn-primary me-3" %>
  </div>
</div>
<div id="recipes" class="row">
  <%= render @recipes %>
</div>
<%= paginate @recipes %>
